/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-ico-3d-name: 'sprite-ico--3d';
$sprite-ico-3d-x: 18px;
$sprite-ico-3d-y: 91px;
$sprite-ico-3d-offset-x: -18px;
$sprite-ico-3d-offset-y: -91px;
$sprite-ico-3d-width: 18px;
$sprite-ico-3d-height: 11px;
$sprite-ico-3d-total-width: 108px;
$sprite-ico-3d-total-height: 103px;
$sprite-ico-3d-image: '../img/super_sprite.png';
$sprite-ico-3d: (18px, 91px, -18px, -91px, 18px, 11px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico--3d', );
$sprite-ico-expert-name: 'sprite-ico--expert';
$sprite-ico-expert-x: 74px;
$sprite-ico-expert-y: 0px;
$sprite-ico-expert-offset-x: -74px;
$sprite-ico-expert-offset-y: 0px;
$sprite-ico-expert-width: 18px;
$sprite-ico-expert-height: 18px;
$sprite-ico-expert-total-width: 108px;
$sprite-ico-expert-total-height: 103px;
$sprite-ico-expert-image: '../img/super_sprite.png';
$sprite-ico-expert: (74px, 0px, -74px, 0px, 18px, 18px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico--expert', );
$sprite-ico-add-adv-name: 'sprite-ico-add-adv';
$sprite-ico-add-adv-x: 74px;
$sprite-ico-add-adv-y: 18px;
$sprite-ico-add-adv-offset-x: -74px;
$sprite-ico-add-adv-offset-y: -18px;
$sprite-ico-add-adv-width: 17px;
$sprite-ico-add-adv-height: 19px;
$sprite-ico-add-adv-total-width: 108px;
$sprite-ico-add-adv-total-height: 103px;
$sprite-ico-add-adv-image: '../img/super_sprite.png';
$sprite-ico-add-adv: (74px, 18px, -74px, -18px, 17px, 19px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-add-adv', );
$sprite-ico-add-cats-name: 'sprite-ico-add-cats';
$sprite-ico-add-cats-x: 92px;
$sprite-ico-add-cats-y: 0px;
$sprite-ico-add-cats-offset-x: -92px;
$sprite-ico-add-cats-offset-y: 0px;
$sprite-ico-add-cats-width: 16px;
$sprite-ico-add-cats-height: 18px;
$sprite-ico-add-cats-total-width: 108px;
$sprite-ico-add-cats-total-height: 103px;
$sprite-ico-add-cats-image: '../img/super_sprite.png';
$sprite-ico-add-cats: (92px, 0px, -92px, 0px, 16px, 18px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-add-cats', );
$sprite-ico-agent-name: 'sprite-ico-agent';
$sprite-ico-agent-x: 34px;
$sprite-ico-agent-y: 73px;
$sprite-ico-agent-offset-x: -34px;
$sprite-ico-agent-offset-y: -73px;
$sprite-ico-agent-width: 19px;
$sprite-ico-agent-height: 16px;
$sprite-ico-agent-total-width: 108px;
$sprite-ico-agent-total-height: 103px;
$sprite-ico-agent-image: '../img/super_sprite.png';
$sprite-ico-agent: (34px, 73px, -34px, -73px, 19px, 16px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-agent', );
$sprite-ico-agsettings-name: 'sprite-ico-agsettings';
$sprite-ico-agsettings-x: 18px;
$sprite-ico-agsettings-y: 22px;
$sprite-ico-agsettings-offset-x: -18px;
$sprite-ico-agsettings-offset-y: -22px;
$sprite-ico-agsettings-width: 18px;
$sprite-ico-agsettings-height: 18px;
$sprite-ico-agsettings-total-width: 108px;
$sprite-ico-agsettings-total-height: 103px;
$sprite-ico-agsettings-image: '../img/super_sprite.png';
$sprite-ico-agsettings: (18px, 22px, -18px, -22px, 18px, 18px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-agsettings', );
$sprite-ico-balance-name: 'sprite-ico-balance';
$sprite-ico-balance-x: 18px;
$sprite-ico-balance-y: 0px;
$sprite-ico-balance-offset-x: -18px;
$sprite-ico-balance-offset-y: 0px;
$sprite-ico-balance-width: 19px;
$sprite-ico-balance-height: 19px;
$sprite-ico-balance-total-width: 108px;
$sprite-ico-balance-total-height: 103px;
$sprite-ico-balance-image: '../img/super_sprite.png';
$sprite-ico-balance: (18px, 0px, -18px, 0px, 19px, 19px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-balance', );
$sprite-ico-catalogs-name: 'sprite-ico-catalogs';
$sprite-ico-catalogs-x: 92px;
$sprite-ico-catalogs-y: 18px;
$sprite-ico-catalogs-offset-x: -92px;
$sprite-ico-catalogs-offset-y: -18px;
$sprite-ico-catalogs-width: 16px;
$sprite-ico-catalogs-height: 18px;
$sprite-ico-catalogs-total-width: 108px;
$sprite-ico-catalogs-total-height: 103px;
$sprite-ico-catalogs-image: '../img/super_sprite.png';
$sprite-ico-catalogs: (92px, 18px, -92px, -18px, 16px, 18px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-catalogs', );
$sprite-ico-crm-mail-name: 'sprite-ico-crm-mail';
$sprite-ico-crm-mail-x: 0px;
$sprite-ico-crm-mail-y: 58px;
$sprite-ico-crm-mail-offset-x: 0px;
$sprite-ico-crm-mail-offset-y: -58px;
$sprite-ico-crm-mail-width: 21px;
$sprite-ico-crm-mail-height: 15px;
$sprite-ico-crm-mail-total-width: 108px;
$sprite-ico-crm-mail-total-height: 103px;
$sprite-ico-crm-mail-image: '../img/super_sprite.png';
$sprite-ico-crm-mail: (0px, 58px, 0px, -58px, 21px, 15px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-crm-mail', );
$sprite-ico-crm-name: 'sprite-ico-crm';
$sprite-ico-crm-x: 0px;
$sprite-ico-crm-y: 40px;
$sprite-ico-crm-offset-x: 0px;
$sprite-ico-crm-offset-y: -40px;
$sprite-ico-crm-width: 18px;
$sprite-ico-crm-height: 18px;
$sprite-ico-crm-total-width: 108px;
$sprite-ico-crm-total-height: 103px;
$sprite-ico-crm-image: '../img/super_sprite.png';
$sprite-ico-crm: (0px, 40px, 0px, -40px, 18px, 18px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-crm', );
$sprite-ico-crmclients-name: 'sprite-ico-crmclients';
$sprite-ico-crmclients-x: 21px;
$sprite-ico-crmclients-y: 58px;
$sprite-ico-crmclients-offset-x: -21px;
$sprite-ico-crmclients-offset-y: -58px;
$sprite-ico-crmclients-width: 18px;
$sprite-ico-crmclients-height: 15px;
$sprite-ico-crmclients-total-width: 108px;
$sprite-ico-crmclients-total-height: 103px;
$sprite-ico-crmclients-image: '../img/super_sprite.png';
$sprite-ico-crmclients: (21px, 58px, -21px, -58px, 18px, 15px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-crmclients', );
$sprite-ico-crmmsg-name: 'sprite-ico-crmmsg';
$sprite-ico-crmmsg-x: 39px;
$sprite-ico-crmmsg-y: 58px;
$sprite-ico-crmmsg-offset-x: -39px;
$sprite-ico-crmmsg-offset-y: -58px;
$sprite-ico-crmmsg-width: 18px;
$sprite-ico-crmmsg-height: 13px;
$sprite-ico-crmmsg-total-width: 108px;
$sprite-ico-crmmsg-total-height: 103px;
$sprite-ico-crmmsg-image: '../img/super_sprite.png';
$sprite-ico-crmmsg: (39px, 58px, -39px, -58px, 18px, 13px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-crmmsg', );
$sprite-ico-developer-name: 'sprite-ico-developer';
$sprite-ico-developer-x: 37px;
$sprite-ico-developer-y: 0px;
$sprite-ico-developer-offset-x: -37px;
$sprite-ico-developer-offset-y: 0px;
$sprite-ico-developer-width: 19px;
$sprite-ico-developer-height: 19px;
$sprite-ico-developer-total-width: 108px;
$sprite-ico-developer-total-height: 103px;
$sprite-ico-developer-image: '../img/super_sprite.png';
$sprite-ico-developer: (37px, 0px, -37px, 0px, 19px, 19px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-developer', );
$sprite-ico-devstats-name: 'sprite-ico-devstats';
$sprite-ico-devstats-x: 0px;
$sprite-ico-devstats-y: 73px;
$sprite-ico-devstats-offset-x: 0px;
$sprite-ico-devstats-offset-y: -73px;
$sprite-ico-devstats-width: 17px;
$sprite-ico-devstats-height: 18px;
$sprite-ico-devstats-total-width: 108px;
$sprite-ico-devstats-total-height: 103px;
$sprite-ico-devstats-image: '../img/super_sprite.png';
$sprite-ico-devstats: (0px, 73px, 0px, -73px, 17px, 18px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-devstats', );
$sprite-ico-import-name: 'sprite-ico-import';
$sprite-ico-import-x: 0px;
$sprite-ico-import-y: 22px;
$sprite-ico-import-offset-x: 0px;
$sprite-ico-import-offset-y: -22px;
$sprite-ico-import-width: 18px;
$sprite-ico-import-height: 18px;
$sprite-ico-import-total-width: 108px;
$sprite-ico-import-total-height: 103px;
$sprite-ico-import-image: '../img/super_sprite.png';
$sprite-ico-import: (0px, 22px, 0px, -22px, 18px, 18px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-import', );
$sprite-ico-my-objects-name: 'sprite-ico-my-objects';
$sprite-ico-my-objects-x: 57px;
$sprite-ico-my-objects-y: 58px;
$sprite-ico-my-objects-offset-x: -57px;
$sprite-ico-my-objects-offset-y: -58px;
$sprite-ico-my-objects-width: 18px;
$sprite-ico-my-objects-height: 13px;
$sprite-ico-my-objects-total-width: 108px;
$sprite-ico-my-objects-total-height: 103px;
$sprite-ico-my-objects-image: '../img/super_sprite.png';
$sprite-ico-my-objects: (57px, 58px, -57px, -58px, 18px, 13px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-my-objects', );
$sprite-ico-operations-name: 'sprite-ico-operations';
$sprite-ico-operations-x: 92px;
$sprite-ico-operations-y: 36px;
$sprite-ico-operations-offset-x: -92px;
$sprite-ico-operations-offset-y: -36px;
$sprite-ico-operations-width: 14px;
$sprite-ico-operations-height: 18px;
$sprite-ico-operations-total-width: 108px;
$sprite-ico-operations-total-height: 103px;
$sprite-ico-operations-image: '../img/super_sprite.png';
$sprite-ico-operations: (92px, 36px, -92px, -36px, 14px, 18px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-operations', );
$sprite-ico-orders-name: 'sprite-ico-orders';
$sprite-ico-orders-x: 71px;
$sprite-ico-orders-y: 73px;
$sprite-ico-orders-offset-x: -71px;
$sprite-ico-orders-offset-y: -73px;
$sprite-ico-orders-width: 18px;
$sprite-ico-orders-height: 16px;
$sprite-ico-orders-total-width: 108px;
$sprite-ico-orders-total-height: 103px;
$sprite-ico-orders-image: '../img/super_sprite.png';
$sprite-ico-orders: (71px, 73px, -71px, -73px, 18px, 16px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-orders', );
$sprite-ico-pay-call-name: 'sprite-ico-pay-call';
$sprite-ico-pay-call-x: 92px;
$sprite-ico-pay-call-y: 54px;
$sprite-ico-pay-call-offset-x: -92px;
$sprite-ico-pay-call-offset-y: -54px;
$sprite-ico-pay-call-width: 13px;
$sprite-ico-pay-call-height: 18px;
$sprite-ico-pay-call-total-width: 108px;
$sprite-ico-pay-call-total-height: 103px;
$sprite-ico-pay-call-image: '../img/super_sprite.png';
$sprite-ico-pay-call: (92px, 54px, -92px, -54px, 13px, 18px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-pay-call', );
$sprite-ico-pay-name: 'sprite-ico-pay';
$sprite-ico-pay-x: 54px;
$sprite-ico-pay-y: 40px;
$sprite-ico-pay-offset-x: -54px;
$sprite-ico-pay-offset-y: -40px;
$sprite-ico-pay-width: 18px;
$sprite-ico-pay-height: 18px;
$sprite-ico-pay-total-width: 108px;
$sprite-ico-pay-total-height: 103px;
$sprite-ico-pay-image: '../img/super_sprite.png';
$sprite-ico-pay: (54px, 40px, -54px, -40px, 18px, 18px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-pay', );
$sprite-ico-paycall-name: 'sprite-ico-paycall';
$sprite-ico-paycall-x: 92px;
$sprite-ico-paycall-y: 72px;
$sprite-ico-paycall-offset-x: -92px;
$sprite-ico-paycall-offset-y: -72px;
$sprite-ico-paycall-width: 13px;
$sprite-ico-paycall-height: 18px;
$sprite-ico-paycall-total-width: 108px;
$sprite-ico-paycall-total-height: 103px;
$sprite-ico-paycall-image: '../img/super_sprite.png';
$sprite-ico-paycall: (92px, 72px, -92px, -72px, 13px, 18px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-paycall', );
$sprite-ico-paytarf-name: 'sprite-ico-paytarf';
$sprite-ico-paytarf-x: 18px;
$sprite-ico-paytarf-y: 40px;
$sprite-ico-paytarf-offset-x: -18px;
$sprite-ico-paytarf-offset-y: -40px;
$sprite-ico-paytarf-width: 18px;
$sprite-ico-paytarf-height: 18px;
$sprite-ico-paytarf-total-width: 108px;
$sprite-ico-paytarf-total-height: 103px;
$sprite-ico-paytarf-image: '../img/super_sprite.png';
$sprite-ico-paytarf: (18px, 40px, -18px, -40px, 18px, 18px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-paytarf', );
$sprite-ico-profile-name: 'sprite-ico-profile';
$sprite-ico-profile-x: 56px;
$sprite-ico-profile-y: 18px;
$sprite-ico-profile-offset-x: -56px;
$sprite-ico-profile-offset-y: -18px;
$sprite-ico-profile-width: 18px;
$sprite-ico-profile-height: 18px;
$sprite-ico-profile-total-width: 108px;
$sprite-ico-profile-total-height: 103px;
$sprite-ico-profile-image: '../img/super_sprite.png';
$sprite-ico-profile: (56px, 18px, -56px, -18px, 18px, 18px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-profile', );
$sprite-ico-rieltors-name: 'sprite-ico-rieltors';
$sprite-ico-rieltors-x: 0px;
$sprite-ico-rieltors-y: 0px;
$sprite-ico-rieltors-offset-x: 0px;
$sprite-ico-rieltors-offset-y: 0px;
$sprite-ico-rieltors-width: 18px;
$sprite-ico-rieltors-height: 22px;
$sprite-ico-rieltors-total-width: 108px;
$sprite-ico-rieltors-total-height: 103px;
$sprite-ico-rieltors-image: '../img/super_sprite.png';
$sprite-ico-rieltors: (0px, 0px, 0px, 0px, 18px, 22px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-rieltors', );
$sprite-ico-saved-search-name: 'sprite-ico-saved-search';
$sprite-ico-saved-search-x: 53px;
$sprite-ico-saved-search-y: 73px;
$sprite-ico-saved-search-offset-x: -53px;
$sprite-ico-saved-search-offset-y: -73px;
$sprite-ico-saved-search-width: 18px;
$sprite-ico-saved-search-height: 16px;
$sprite-ico-saved-search-total-width: 108px;
$sprite-ico-saved-search-total-height: 103px;
$sprite-ico-saved-search-image: '../img/super_sprite.png';
$sprite-ico-saved-search: (53px, 73px, -53px, -73px, 18px, 16px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-saved-search', );
$sprite-ico-services-name: 'sprite-ico-services';
$sprite-ico-services-x: 36px;
$sprite-ico-services-y: 40px;
$sprite-ico-services-offset-x: -36px;
$sprite-ico-services-offset-y: -40px;
$sprite-ico-services-width: 18px;
$sprite-ico-services-height: 18px;
$sprite-ico-services-total-width: 108px;
$sprite-ico-services-total-height: 103px;
$sprite-ico-services-image: '../img/super_sprite.png';
$sprite-ico-services: (36px, 40px, -36px, -40px, 18px, 18px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-services', );
$sprite-ico-settings-name: 'sprite-ico-settings';
$sprite-ico-settings-x: 56px;
$sprite-ico-settings-y: 0px;
$sprite-ico-settings-offset-x: -56px;
$sprite-ico-settings-offset-y: 0px;
$sprite-ico-settings-width: 18px;
$sprite-ico-settings-height: 18px;
$sprite-ico-settings-total-width: 108px;
$sprite-ico-settings-total-height: 103px;
$sprite-ico-settings-image: '../img/super_sprite.png';
$sprite-ico-settings: (56px, 0px, -56px, 0px, 18px, 18px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-settings', );
$sprite-ico-stats-name: 'sprite-ico-stats';
$sprite-ico-stats-x: 74px;
$sprite-ico-stats-y: 37px;
$sprite-ico-stats-offset-x: -74px;
$sprite-ico-stats-offset-y: -37px;
$sprite-ico-stats-width: 17px;
$sprite-ico-stats-height: 18px;
$sprite-ico-stats-total-width: 108px;
$sprite-ico-stats-total-height: 103px;
$sprite-ico-stats-image: '../img/super_sprite.png';
$sprite-ico-stats: (74px, 37px, -74px, -37px, 17px, 18px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-stats', );
$sprite-ico-tasks-name: 'sprite-ico-tasks';
$sprite-ico-tasks-x: 17px;
$sprite-ico-tasks-y: 73px;
$sprite-ico-tasks-offset-x: -17px;
$sprite-ico-tasks-offset-y: -73px;
$sprite-ico-tasks-width: 17px;
$sprite-ico-tasks-height: 18px;
$sprite-ico-tasks-total-width: 108px;
$sprite-ico-tasks-total-height: 103px;
$sprite-ico-tasks-image: '../img/super_sprite.png';
$sprite-ico-tasks: (17px, 73px, -17px, -73px, 17px, 18px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-tasks', );
$sprite-ico-vip-name: 'sprite-ico-vip';
$sprite-ico-vip-x: 0px;
$sprite-ico-vip-y: 91px;
$sprite-ico-vip-offset-x: 0px;
$sprite-ico-vip-offset-y: -91px;
$sprite-ico-vip-width: 18px;
$sprite-ico-vip-height: 12px;
$sprite-ico-vip-total-width: 108px;
$sprite-ico-vip-total-height: 103px;
$sprite-ico-vip-image: '../img/super_sprite.png';
$sprite-ico-vip: (0px, 91px, 0px, -91px, 18px, 12px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-vip', );
$sprite-ico-wishlist-name: 'sprite-ico-wishlist';
$sprite-ico-wishlist-x: 36px;
$sprite-ico-wishlist-y: 22px;
$sprite-ico-wishlist-offset-x: -36px;
$sprite-ico-wishlist-offset-y: -22px;
$sprite-ico-wishlist-width: 18px;
$sprite-ico-wishlist-height: 18px;
$sprite-ico-wishlist-total-width: 108px;
$sprite-ico-wishlist-total-height: 103px;
$sprite-ico-wishlist-image: '../img/super_sprite.png';
$sprite-ico-wishlist: (36px, 22px, -36px, -22px, 18px, 18px, 108px, 103px, '../img/super_sprite.png', 'sprite-ico-wishlist', );
$spritesheet-width: 108px;
$spritesheet-height: 103px;
$spritesheet-image: '../img/super_sprite.png';
$spritesheet-sprites: ($sprite-ico-3d, $sprite-ico-expert, $sprite-ico-add-adv, $sprite-ico-add-cats, $sprite-ico-agent, $sprite-ico-agsettings, $sprite-ico-balance, $sprite-ico-catalogs, $sprite-ico-crm-mail, $sprite-ico-crm, $sprite-ico-crmclients, $sprite-ico-crmmsg, $sprite-ico-developer, $sprite-ico-devstats, $sprite-ico-import, $sprite-ico-my-objects, $sprite-ico-operations, $sprite-ico-orders, $sprite-ico-pay-call, $sprite-ico-pay, $sprite-ico-paycall, $sprite-ico-paytarf, $sprite-ico-profile, $sprite-ico-rieltors, $sprite-ico-saved-search, $sprite-ico-services, $sprite-ico-settings, $sprite-ico-stats, $sprite-ico-tasks, $sprite-ico-vip, $sprite-ico-wishlist, );
$spritesheet: (108px, 103px, '../img/super_sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
